@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

body
    background-color: #FAFBFC
    font-family: 'Roboto', sans-serif
    margin: 0

.el-form-item__label 
    padding: 0 !important
    font-weight: bold
    text-transform: uppercase
    font-size: 12px   

.el-form-item 
    margin-bottom: 0 !important

.el-upload, .el-upload-dragger
    width: 100%

.el-dialog__body
    padding-top: 0

.reorder
    cursor: move

.slide-enter-active, .slide-leave-active 
    transition: all .3s

.slide-enter-to, .slide-leave 
    transform: translateX(0)
    opacity: 1

.slide-enter, .slide-leave-to 
    transform: translateY(10px)
    opacity: 0

.ql-editor
    height: 300px