<template>
    <el-dialog :visible.sync="$store.state.ads.dialogs.ad">
        <el-radio-group v-model="locale">
            <el-radio-button label="en"/>
            <el-radio-button label="ru"/>
            <el-radio-button label="hy"/>
        </el-radio-group>
        <el-form label-position="top">
            <el-form-item label="title">
                <el-input 
                    v-model="ad.title[locale]" 
                    placeholder="Title"/>
            </el-form-item>
            <el-form-item label="Content">
                <el-input 
                    type="textarea"
                    :rows="3"
                    v-model="ad.content[locale]" 
                    placeholder="Content"/>
            </el-form-item>
            <el-form-item label="Callback URL">
                <el-input v-model="ad.callback" placeholder="Callback URL">
                    <template slot="prepend">
                        <icon icon="link"/>
                    </template>
              </el-input>
            </el-form-item>
            <el-form-item label="Image">
                <input 
                    type="file" 
                    @change="$store.commit('ads/SET_IMAGE', $event.target.files[0])"/><br>
                <el-row style="margin-bottom: 10px">
                    <el-button 
                        v-if="ad.image"
                        @click="$store.commit('ads/SET_IMAGE', null)"
                        type="default">
                            Clear
                    </el-button>
                </el-row>
                <img 
                    v-if="ad.image"
                    width="200"
                    :src="createImage(ad.image)">
            </el-form-item>
        </el-form>
        <el-row
            type="flex"
            justify="end">
            <el-button 
                type="primary"
                v-if="ad._id"
                @click="$store.dispatch('ads/submit', true)">
                Save
            </el-button>
            <el-button 
                type="primary"
                v-else
                @click="$store.dispatch('ads/submit', null)">
                Add
            </el-button>
        </el-row>
    </el-dialog>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState('ads', [
                'ad'
            ])
        },
        data () {
            return {
                locale: 'en'
            }
        },
        methods: {
            createImage (image) {
                if (typeof image === 'string') {
                    return this.$store.state.baseURL + image
                }

                return URL.createObjectURL(image)
            }
        }
    }
</script>