<template>
    <div>
        <el-card>
            <div slot="header">
                <el-row
                    type="flex"
                    justify="space-between"
                    align="middle">
                    Ads
                </el-row>
            </div>
            <el-table :data="$store.state.ads.all">
                <el-table-column prop="placement" label="Placement"/>
              <el-table-column label="Image" :width="150">
                  <template slot-scope="scope">
                      <img 
                        height="40"
                        v-if="scope.row.image"
                        :src="$store.state.baseURL + scope.row.image"/>
                  </template>
              </el-table-column>
              <el-table-column label="Title">
                  <template slot-scope="scope">
                      {{ scope.row.title.en }}
                  </template>
              </el-table-column>
              <el-table-column label="Actions">
                  <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="$store.commit('ads/EDIT', scope.row)">
                        <icon :icon="['far', 'edit']"/> Edit
                    </el-button>
                  </template>
              </el-table-column>
            </el-table>
        </el-card>

        <ad/>
    </div>
</template>

<script>
    import Ad from './Ad'

    export default {
        components: {
            Ad
        },
        mounted () {
            this.$store.dispatch('ads/all')
        }
    }
</script>