<template>
    <el-container id="dashboard">
        <el-aside width="64px">
            <div class="aside-container">
                <el-menu :collapse="true" :router="true">
                    <el-menu-item :route="{ name: 'projects', params: { type: 'movies' } }" index="1">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon icon="film" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Projects</span>
                    </el-menu-item>
                    <el-menu-item :route="{ name: 'slides' }" index="2">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon :icon="['far', 'images']" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Slides</span>
                    </el-menu-item>
                    <el-menu-item :route="{ name: 'people' }" index="3">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon icon="users" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Important People</span>
                    </el-menu-item>
                    <el-menu-item :route="{ name: 'users' }" index="4">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon :icon="['far', 'user']" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Users</span>
                    </el-menu-item>
                    <el-menu-item :route="{ name: 'ads' }" index="5">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon :icon="['fab', 'adversal']" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Ads</span>
                    </el-menu-item>
                    <el-menu-item :route="{ name: 'pages' }" index="6">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon :icon="['far', 'file-alt']" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Pages</span>
                    </el-menu-item>
                    
                    <el-menu-item :route="{ name: 'videos' }" index="7">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon :icon="['fas', 'video']" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Videos</span>
                    </el-menu-item>
                    <el-menu-item :route="{ name: 'settings' }" index="8">
                        <el-row type="flex" justify="center" align="middle" style="height: 100%;">
                            <i>
                                <icon icon="cog" style="font-size: 19px;"/>
                            </i>
                        </el-row>
                        <span slot="title">Settings</span>
                    </el-menu-item>
                </el-menu>
            </div>
        </el-aside>

        <el-container id="content">
            <el-header>
                <el-row type="flex" justify="space-between">
                    <h3>ArevTV</h3>
                    <div>
                        <el-button style="margin-bottom: 8px" type="text" @click="$store.dispatch('logout')">
                            Logout
                            <icon icon="sign-out-alt"/>
                        </el-button>
                    </div>
                </el-row>
            </el-header>
            
            <el-main>
                <transition name="slide" mode="out-in">
                    <router-view></router-view>
                </transition>
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
    export default {
        mounted () {
            this.$store.dispatch('getUser')
        }
    }
</script>

<style lang="sass">
    #dashboard
        min-height: 100vh

        .el-aside
            background-color: white
            
            .aside-container
                position: fixed
                top: 0
                left: 0
                height: 100%
                overflow: scroll

                .el-menu
                    height: 100%
        
        .el-header
            padding-top: 8px
            padding-right: 20px
            background-color: white
            border-bottom: solid 1px #e6e6e6

            h3
                margin-top: 10px
</style>
