<template>
    <el-row 
        type="flex" 
        justify="center" 
        style="padding-top: 100px">
        <el-col :span="8">
            <el-card>
                <div slot="header">
                    Login
                </div>
                <el-form label-position="top">
                    <el-form-item label="Username">
                        <el-input 
                            v-model="$store.state.login.username" 
                            placeholder="Username"/>
                    </el-form-item>
                    <el-form-item label="Password">
                        <el-input 
                            v-model="$store.state.login.password" 
                            type="password"
                            placeholder="Password"/>
                    </el-form-item>
                    <el-row 
                        type="flex" 
                        justify="end">
                        <el-button 
                            type="primary" 
                            style="margin-top: 20px" 
                            @click.prevent="$store.dispatch('login')"
                            native-type="submit">
                            Login
                        </el-button>
                    </el-row>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</template>

<script>
    export default {}
</script>