<template>
    <div>
        <el-card>
            <div slot="header">
                <el-row
                    type="flex"
                    justify="space-between"
                    align="middle">
                    Pages

                    <el-button
                        type="primary"
                        plain
                        @click="$store.commit('pages/SHOW_PAGE_DIALOG')">
                        Create
                    </el-button>
                </el-row>
            </div>
            <el-table :data="$store.state.pages.all">
                <el-table-column prop="slug" label="Slug"/>
              <el-table-column label="Image" :width="150">
                  <template slot-scope="scope">
                      <img 
                        height="40"
                        v-if="scope.row.image"
                        :src="$store.state.baseURL + scope.row.image"/>
                  </template>
              </el-table-column>
              <el-table-column label="Title">
                  <template slot-scope="scope">
                      {{ scope.row.title.en }}
                  </template>
              </el-table-column>
              <el-table-column label="Actions">
                  <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="$store.commit('pages/EDIT', scope.row)">
                        <icon :icon="['far', 'edit']"/> Edit
                    </el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        v-if="!['about-us', 'terms-and-conditions'].includes(scope.row.slug)"
                        @click="$store.dispatch('pages/remove', scope.row._id)"
                        plain>
                        <icon :icon="['far', 'trash-alt']"/> Remove
                    </el-button>
                  </template>
              </el-table-column>
            </el-table>
        </el-card>

        <page/>
    </div>
</template>

<script>
    import Page from './Page'

    export default {
        components: {
            Page
        },
        mounted () {
            this.$store.dispatch('pages/all')
        }
    }
</script>