<template>
    <el-dialog :visible.sync="$store.state.pages.dialogs.page">
        <el-radio-group v-model="locale">
            <el-radio-button label="en"/>
            <el-radio-button label="ru"/>
            <el-radio-button label="hy"/>
        </el-radio-group>
        <el-form label-position="top">
            <el-form-item label="Title">
                <el-input 
                    v-model="page.title[locale]" 
                    placeholder="Title"/>
            </el-form-item>
            <el-form-item label="Content">
                <tinymce 
                    v-model="page.content[locale]"
                    :id="`page-content-${locale}`">
                </tinymce>
            </el-form-item>
            <el-form-item label="Slug">
                <el-input 
                    v-model="page.slug" 
                    placeholder="Slug"/>
            </el-form-item>
            <el-form-item label="Image">
                <input 
                    type="file" 
                    @change="$store.commit('pages/SET_IMAGE', $event.target.files[0])"/><br>
                <img 
                    v-if="page.image"
                    width="200"
                    :src="createImage(page.image)">
            </el-form-item>
        </el-form>
        <el-row
            type="flex"
            justify="end">
            <el-button 
                type="primary"
                v-if="page._id"
                @click="$store.dispatch('pages/submit', true)">
                Save
            </el-button>
            <el-button 
                type="primary"
                v-else
                @click="$store.dispatch('pages/submit', null)">
                Add
            </el-button>
        </el-row>
    </el-dialog>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState('pages', [
                'page'
            ])
        },
        data () {
            return {
                locale: 'en',
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'header': [1, 2, 3, false] }],
                            ['clean']
                        ]
                    }
                }
            }
        },
        methods: {
            createImage (image) {
                if (typeof image === 'string') {
                    return this.$store.state.baseURL + image
                }

                return URL.createObjectURL(image)
            }
        }
    }
</script>