<template>
    <div>
        <el-card>
            <div slot="header">
                <el-row
                    type="flex"
                    justify="space-between"
                    align="middle">
                    Important people

                    <el-button
                        type="primary"
                        plain
                        @click="$store.commit('people/SHOW_PERSON_DIALOG')">
                        Create
                    </el-button>
                </el-row>
            </div>
            <el-table :data="$store.state.people.all">
              <el-table-column label="Image" :width="150">
                  <template slot-scope="scope">
                      <img 
                        height="40"
                        :src="$store.state.baseURL + scope.row.image"/>
                  </template>
              </el-table-column>
              <el-table-column label="Fullname">
                  <template slot-scope="scope">
                      {{ scope.row.fullName.en }}
                  </template>
              </el-table-column>
              <el-table-column label="Actions">
                  <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="$store.commit('people/EDIT', scope.row)">
                        <icon :icon="['far', 'edit']"/> Edit
                    </el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        @click="$store.dispatch('people/remove', scope.row._id)"
                        plain>
                        <icon :icon="['far', 'trash-alt']"/> Remove
                    </el-button>
                  </template>
              </el-table-column>
            </el-table>
        </el-card>

        <person/>
    </div>
</template>

<script>
    import Person from './Person'

    export default {
        components: {
            Person
        },
        mounted () {
            this.$store.dispatch('people/all', null)
        }
    }
</script>