<template>
    <el-dialog :visible.sync="$store.state.people.dialogs.person">
        <el-radio-group v-model="locale">
            <el-radio-button label="en"/>
            <el-radio-button label="ru"/>
            <el-radio-button label="hy"/>
        </el-radio-group>
        <el-form label-position="top">
            <el-form-item label="fullName">
                <el-input 
                    v-model="person.fullName[locale]" 
                    placeholder="Full Name"/>
            </el-form-item>
            </el-form-item>
            <el-form-item label="biography">
                <el-input 
                    type="textarea"
                    :rows="3"
                    v-model="person.biography[locale]" 
                    placeholder="Biography"/>
            </el-form-item>
            <el-form-item label="type">
                <el-select 
                    v-model="person.type" 
                    placeholder="Select type">
                    <el-option
                        label="Director"
                        value="director"/>
                    <el-option
                        label="Actor"
                        value="actor"/>
                </el-select>
            </el-form-item>
            <el-form-item label="Image">
                <input 
                    type="file" 
                    @change="$store.commit('people/SET_IMAGE', $event.target.files[0])"/><br>
                <img 
                    v-if="person.image"
                    width="200"
                    :src="createImage(person.image)">
            </el-form-item>
        </el-form>
        <el-row
            type="flex"
            justify="end">
            <el-button 
                type="primary"
                v-if="person._id"
                @click="$store.dispatch('people/submit', true)">
                Save
            </el-button>
            <el-button 
                type="primary"
                v-else
                @click="$store.dispatch('people/submit', null)">
                Add
            </el-button>
        </el-row>
    </el-dialog>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState('people', ['person'])
        },
        data () {
            return {
                locale: 'en'
            }
        },
        methods: {
            createImage (image) {
                if (typeof image === 'string')
                    return this.$store.state.baseURL + image
                return URL.createObjectURL(image)
            }
        }
    }
</script>