<template>
    <div>
        <el-tabs 
            type="border-card" 
            @tab-click="tabClicked"
            :value="$route.params.type">
            <el-tab-pane 
                v-for="(tab, index) in tabs"
                :key="`projects-tab-${index}`"
                :name="tab.name">
                <span slot="label">
                    {{ tab.label }}
                    <el-button 
                        type="primary" 
                        size="mini" 
                        plain
                        v-if="$route.params.type === tab.name"
                        @click="$store.commit('projects/SHOW_PROJECT_DIALOG', tab.name)"
                        style="margin-left:10px">+ New</el-button>
                </span>
            </el-tab-pane>
            <el-table :data="$store.state.projects.all">
                <el-table-column label="Poster" :width="300">
                    <template slot-scope="scope">
                        <img 
                            :src="$store.state.baseURL + scope.row.poster"
                            height="50"/>
                    </template>
                </el-table-column>
                <el-table-column label="Title">
                    <template slot-scope="scope">
                        {{ scope.row.title.en }}
                    </template>
                </el-table-column>
                <el-table-column label="Actions" :width="200">
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            @click="$store.commit('projects/EDIT', scope.row)"
                            plain>
                            Edit
                        </el-button>
                        <el-button
                            type="danger"
                            size="mini"
                            @click="$store.dispatch('projects/remove', scope.row)"
                            plain>
                            Remove
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-tabs>

        <!-- <video/> -->
        <project/>
        <single-video/>
    </div>
</template>

<script>
    import Project from './Project'
    import SingleVideo from './Video'

    export default {
        components: {
            Project,
            SingleVideo
        },
        data () {
            return {
                tabs: [
                    { label: 'Movies', name: 'movies' },
                    { label: 'Arevprojects', name: 'arevprojects' },
                    { label: 'Music', name: 'music' },
                    { label: 'Special Projects', name: 'special-projects' }
                ]
            }
        },
        mounted () {
            this.getProjects()
        },
        watch: {
            $route: 'getProjects'
        },
        methods: {
            tabClicked (tab) {
                this.$router.push({ name: 'projects', params: { type: tab.name } })
            },
            getProjects () {
                this.$store.dispatch('projects/all', { filters: { type: this.$route.params.type } })
            }
        }
    }
</script>