<template>
    <el-dialog
            width="60%"
            :visible.sync="dialogs.project.visibility">
        <el-radio-group v-model="locale">
            <el-radio-button label="en"/>
            <el-radio-button label="ru"/>
            <el-radio-button label="hy"/>
        </el-radio-group>
        <el-form label-position="top">
          <el-form-item label="Slug" v-if="project.slug">
              <el-input v-model="project.slug[locale]" placeholder="Slug"/>
          </el-form-item>
          <el-form-item label="Meta Description" v-if="project.metaDescription">
              <el-input v-model="project.metaDescription[locale]" placeholder="Meta Description"/>
          </el-form-item>
          <el-form-item label="Meta Keywords" v-if="project.metaKeywords">
              <el-input v-model="project.metaKeywords[locale]" placeholder="Meta Keywords"/>
          </el-form-item>
          <el-form-item label="Title">
              <el-input v-model="project.title[locale]" placeholder="Title"/>
          </el-form-item>
          <el-form-item label="Summary">
                <tinymce
                    v-model="project.summary[locale]"
                    :other_options="{ extended_valid_elements: 'script[language|type|src]' }"
                    :id="`project-summary-${locale}`">
                </tinymce>
          </el-form-item>
          <el-row v-if="['movies', 'arevprojects', 'special-projects'].indexOf(dialogs.project.type) !== -1">
            <el-col :span="8">
                <el-form-item label="Director">
                    <el-select 
                        v-model="project.director" 
                        style="width:100%"
                        placeholder="Select director">
                        <el-option
                            v-for="person in people"
                            :key="person._id"
                            v-if="person.type === 'director'"
                            :label="person.fullName.en"
                            :value="person._id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="16" style="padding-left: 10px">
                <el-form-item label="Actors">
                    <el-select 
                        v-model="project.actors"
                        placeholder="Select actors"
                        style="width:100%"
                        multiple>
                        <el-option
                            v-for="person in people"
                            :key="person._id"
                            v-if="person.type === 'actor'"
                            :label="person.fullName.en"
                            :value="person._id"/>
                    </el-select>
                </el-form-item>
            </el-col>
          </el-row>
          <el-form-item 
            v-if="['movies', 'music', 'special-projects'].indexOf(dialogs.project.type) !== -1"
            label="URL">
              <el-input v-model="project.url" placeholder="Movie URL">
                  <template slot="prepend">
                      <icon icon="link"/>
                  </template>
              </el-input>
          </el-form-item>
          <el-form-item label="Popular">
              <el-checkbox v-model="project.popular">Mark as popular</el-checkbox>
          </el-form-item>
          <el-row>
              <el-col :span="8">
                <el-form-item label="Duration in minutes">
                    <el-input-number 
                        :min="0"
                        v-model="project.duration" 
                        controls-position="right"/>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Publication year">
                    <el-date-picker
                        v-model="project.published"
                        type="year"
                        placeholder="Pick a year"/>
                </el-form-item>
              </el-col>
              <el-col :span="8" style="padding-left: 20px">
                <el-form-item label="Plan">
                    <el-switch
                        v-model="project.premium"
                        active-text="Premium"
                        inactive-text="Free">
                    </el-switch>
                </el-form-item>
              </el-col>
          </el-row>
          <el-form-item 
            v-if="['movies', 'arevprojects'].indexOf(dialogs.project.type) !== -1"
            label="Genres">
              <el-tag
                v-for="(genre, index) in project.genres"
                :key="`genres-${index}-${genre}`"
                style="margin-right: 10px"
                closable
                :disable-transitions="false"
                @close="removeGenre(index)">
                    {{ genre }}
                </el-tag>
                <el-input
                    v-if="newGenre.visibility"
                    v-model="newGenre.value"
                    ref="addGenreInput"
                    style="width: 100px"
                    size="mini"
                    @keyup.enter.native="addGenre"
                    @blur="addGenre"/>
                <el-button 
                    v-else 
                    class="button-new-tag" 
                    size="small" 
                    @click="showAddGenreInput">+ New Genre</el-button>
          </el-form-item>
          <el-form-item 
            v-if="['arevprojects'].indexOf(dialogs.project.type) !== -1" 
            label="Voting">
                <el-switch
                    v-model="project.voting"
                    active-text="Enabled"
                    inactive-text="Disabled">
                </el-switch>
          </el-form-item>
          <el-form-item 
            v-if="['movies', 'arevprojects', 'music', 'special-projects'].indexOf(dialogs.project.type) !== -1"
            label="Trailers (url)">
              <el-select 
                    v-model="project.trailers" 
                    placeholder="Add new trailer"
                    @visible-change="onTrailersDropdownOpen"
                    style="width: 70%"
                    filterable
                    multiple>
                    <el-option
                        v-for="trailer in $store.state.videos.trailers"
                        :key="`all-trailers-${trailer._id}`"
                        :label="trailer.title.en"
                        :value="trailer._id">
                    </el-option>
                </el-select>
                <el-button
                    type="primary"
                    style="margin-left: 10px"
                    @click="$store.commit('videos/ADD', { type: 'trailer' })"
                    plain>
                    + new trailer
                </el-button>

                <el-row>
                    <draggable v-model="project.trailers">
                        <transition-group>
                            <li 
                                class="el-upload-list__item reorder"
                                style="list-style-type: none"
                                :key="`reorder-trailers-${trailer}`"
                                v-for="(trailer, index) in project.trailers">
                                <span class="el-upload-list__item-name">
                                    {{ $store.state.videos.trailers.find(e => e._id === trailer).title.en }}
                                    <span style="float: right">
                                        <el-button 
                                            type="default"
                                            class="reorder"
                                            size="mini">
                                            <icon icon="bars"/>
                                        </el-button>
                                    </span>
                                </span>
                            </li>
                        </transition-group>
                    </draggable>
                </el-row>
          </el-form-item>
          <el-form-item 
            v-if="['arevprojects'].indexOf(dialogs.project.type) !== -1"
            label="Episodes">
                <el-select 
                    v-model="project.episodes" 
                    placeholder="Add new episode"
                    @visible-change="onEpisodesDropdownOpen"
                    style="width: 70%"
                    filterable
                    multiple>
                    <el-option
                        v-for="episode in $store.state.videos.episodes"
                        :key="`all-episodes-${episode._id}`"
                        :label="episode.title.en"
                        :value="episode._id">
                    </el-option>
                </el-select>
                <el-button
                    type="primary"
                    style="margin-left: 10px"
                    @click="$store.commit('videos/ADD', { type: 'episode' })"
                    plain>
                    + new episode
                </el-button>

                <el-row>
                    <ul>
                        <draggable v-model="project.episodes">
                            <transition-group>
                                <li 
                                    :key="`reorder-episodes-${episode}`"
                                    style="list-style-type: none"
                                    v-for="(episode, index) in project.episodes"
                                    v-if="$store.state.videos.episodes.find(e => e._id === episode)">
                                    <span class="el-upload-list__item-name">
                                        {{ $store.state.videos.episodes.find(e => e._id === episode).title.en }}
                                        <span style="float: right">
                                            <el-button 
                                                type="default"
                                                class="reorder"
                                                size="mini">
                                                <icon icon="bars"/>
                                            </el-button>
                                        </span>
                                    </span>
                                </li>
                            </transition-group>
                        </draggable>
                    </ul>
                </el-row>
          </el-form-item>
          <el-form-item
                v-if="['arevprojects'].indexOf(dialogs.project.type) !== -1"
                label="Seasons">
                <el-row 
                    type="flex"
                    v-for="(season, index) in project.seasons"
                    :key="`seasons-to-add-${index}`"
                    style="margin-bottom: 10px">
                    <el-input
                        v-model="season.name"
                        placeholder="Name"
                        style="margin-right: 10px"/>
                    <el-select 
                        v-model="season.reference" 
                        placeholder="Select Season"
                        style="margin-right: 10px">
                        <el-option 
                            v-for="project in all" 
                            :key="`seasons-to-add-${index}-projects-${project._id}`"
                            :label="project.title.en"
                            :value="project._id">
                        </el-option>
                    </el-select>
                    <el-button 
                        type="danger"
                        @click="$store.commit('projects/REMOVE_SEASON', index)">
                        Remove
                    </el-button>
                </el-row>
                <el-row type="flex" align="middle" justify="end">
                    <el-button
                        @click="$store.commit('projects/NEW_SEASON')"
                        type="primary"
                        icon="el-icon-plus"
                        plain>
                        Add
                    </el-button>
                </el-row>
          </el-form-item>
          <el-form-item label="Ad Banner URL">
              <el-input 
                v-model="project.bannerUrl" 
                placeholder="Ad Banner URL">
                    <el-button 
                        slot="prepend" 
                        icon="el-icon-share"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item label="Ad Banner">
              <input 
                type="file"
                @change="$store.commit('projects/SET_BANNER', $event.target.files[0])"/><br>
              <img 
                    v-if="project.banner"
                    width="200"
                    :src="createImage(project.banner)">
          </el-form-item>
          <el-row>
            <el-col :span="12" style="padding-right: 10px">
                <el-form-item label="Poster">
                    <el-upload
                        action="action"
                        :auto-upload="false"
                        :show-file-list="true"
                        :file-list="fileList.poster"
                        :on-change="posterUpload"
                        :on-remove="posterRemove"
                        list-type="picture"
                        drag>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">
                            Drop file here or <em>click to upload</em><br>
                        </div>
                    </el-upload>
                    <img 
                        width="200"
                        v-if="project._id && typeof project.poster === 'string'"
                        :src="$store.state.baseURL + project.poster"/>
                </el-form-item>
            </el-col>
            <el-col 
                :span="12">
                <el-form-item label="Cover">
                    <el-upload
                        action="action"
                        :auto-upload="false"
                        :show-file-list="true"
                        :file-list="fileList.cover"
                        :on-change="coverUpload"
                        :on-remove="coverRemove"
                        list-type="picture"
                        drag>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">
                            Drop file here or <em>click to upload</em><br>
                        </div>
                    </el-upload>
                    <img 
                        width="200"
                        v-if="project._id && project.cover && typeof project.cover === 'string'"
                        :src="$store.state.baseURL + project.cover"/>
                </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="HTML Injection">
                <tinymce 
                    v-model="project.html" 
                    id="project-html"
                    toolbar1="source code"
                    ref="test"
                    :other_options="{ extended_valid_elements: 'script[language|type|src]' }"></tinymce>
          </el-form-item>
        </el-form>
        <el-row 
            type="flex"
            style="margin-top: 20px"
            justify="end">
            <el-button
                v-if="project._id"
                @click="$store.dispatch('projects/submit', true)"
                type="primary">Save</el-button>
            <el-button
                v-else
                @click="$store.dispatch('projects/submit', null)"
                type="primary">Add</el-button>
        </el-row>
    </el-dialog>
</template>

<script>
    import Draggable from 'vuedraggable'
    import { mapState } from 'vuex'

    const emptyTag = () => {
        return {
            value: '',
            visibility: false
        }
    }

    const emptyFileList = () => {
        return {
            poster: [],
            cover: []
        }
    }

    export default {
        components: {
            Draggable
        },
        data () {
            return {
                newGenre: emptyTag(),
                fileList: emptyFileList(),
                locale: 'en',
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'header': [1, 2, 3, false] }],
                            ['clean']
                        ]
                    }
                },
                htmlEditorOptions: {
                    modules: {
                        toolbar: [
                            ['code-block']
                        ]
                    }
                }
            }
        },
        watch: {
            'dialogs.project.visibility': 'onOpen' // on opening fetch directors,
        },
        computed: {
            ...mapState('projects', [
                'dialogs',
                'project',
                'all'
            ]),
            ...mapState('people', {
                people: 'all'
            })
        },
        mounted () {
            this.getEpisodes()
            this.getTrailers()
        },
        methods: {
            posterUpload: function (file, fileList) {
                this.$store.commit('projects/SET_POSTER', file.raw)
                this.fileList.poster = [file]
            },
            posterRemove: function (file, fileList) {
                this.$store.commit('projects/SET_POSTER', null)
                this.fileList.poster = fileList
            },
            coverUpload: function (file, fileList, type) {
                this.$store.commit('projects/SET_COVER', file.raw)
                this.fileList.cover = [file]
            },
            coverRemove: function (file, fileList) {
                this.$store.commit('projects/SET_COVER', null)
                this.fileList.cover = fileList
            },
            getPeople: function () {
                this.$store.dispatch('people/all')
            },
            getEpisodes: function () {
                this.$store.dispatch('videos/get', { type: 'episode' })
            },
            getTrailers: function () {
                this.$store.dispatch('videos/get', { type: 'trailer' })
            },
            showAddGenreInput: function () {
                this.newGenre.visibility = true
                this.$nextTick(_ => {
                    this.$refs.addGenreInput.$refs.input.focus()
                })
            },
            addGenre: function () {
                this.$store.commit('projects/ADD_GENRE', this.newGenre.value)
                this.newGenre.visibility = false
                this.newGenre.value = ''
            },
            removeGenre: function (index) {
                this.$store.commit('projects/REMOVE_GENRE', index)
            },
            resetDialog: function () {
                this.newGenre = emptyTag()
                this.fileList = emptyFileList()
            },
            onOpen: function () {
                this.getPeople()
                this.resetDialog()
            },
            onEpisodesDropdownOpen: function (value) {
                if (value) {
                    this.getEpisodes()
                }
            },
            onTrailersDropdownOpen: function (value) {
                if (value) {
                    this.getTrailers()
                }
            },
            createImage (image) {
                if (typeof image === 'string') {
                    return this.$store.state.baseURL + image
                }

                return URL.createObjectURL(image)
            }
        }
    }
</script>