<template>
    <div>
        <el-card>
            <div slot="header">
                <el-row
                    type="flex"
                    justify="space-between"
                    align="middle">
                        Settings
                </el-row>
            </div>
            <el-radio-group v-model="locale">
                <el-radio-button label="en"/>
                <el-radio-button label="ru"/>
                <el-radio-button label="hy"/>
            </el-radio-group>
            <el-form label-position="top">
                <el-form-item label="Live Video URI">
                    <el-input 
                        v-model="settings.liveVideoURI" 
                        placeholder="Leave empty for stopping live session"/>
                </el-form-item>
                <el-form-item label="Live Video Title">
                    <el-input 
                        v-model="settings.liveVideoTitle[locale]" 
                        placeholder="Video Title"/>
                </el-form-item>
                <el-form-item label="Live Video Description">
                    <el-input 
                        type="textarea"
                        v-model="settings.liveVideoDescription[locale]"/>
                </el-form-item>
                <el-form-item label="Live Video Cover">
                    <input 
                        type="file" 
                        @change="settings.liveVideoCover = $event.target.files[0]"/><br>
                    <img 
                        v-if="settings.liveVideoCover && settings.liveVideoCover.length"
                        width="200"
                        :src="baseURL + settings.liveVideoCover">
                </el-form-item>
                <el-button
                    type="primary"
                    style="margin-top: 20px"
                    @click="$store.dispatch('settings/submit')">
                        Submit
                </el-button>
            </el-form>
        </el-card>
    </div>
</template>

<script>
    import {
        mapState
    } from 'vuex'

    export default {
        computed: {
            ...mapState([
                'baseURL'
            ]),
            ...mapState('settings', [
                'settings'
            ])
        },
        data () {
            return {
                locale: 'en'
            }
        },
        mounted () {
            this.$store.dispatch('settings/get')
        }
    }
</script>