<template>
    <div>
        <el-row 
            type="flex"
            justify="center">
            <el-col :span="24">
                <el-card>
                    <div slot="header">
                        <el-row
                            type="flex"
                            justify="space-between"
                            align="middle">
                            Slides

                            <el-button
                                type="primary"
                                plain
                                @click="$store.commit('slides/SHOW_SLIDE_DIALOG')">
                                Create
                            </el-button>
                        </el-row>
                    </div>
                    <!-- <el-radio-group v-model="page">
                        <el-radio-button label="home"></el-radio-button>
                        <el-radio-button label="movies"></el-radio-button>
                        <el-radio-button label="arevprojects"></el-radio-button>
                        <el-radio-button label="music"></el-radio-button>
                        <el-radio-button label="special-projects"></el-radio-button>
                        <el-radio-button label="trailers"></el-radio-button>
                    </el-radio-group> -->
                    <ul class="el-upload-list el-upload-list--picture">
                        <draggable v-model="slidesList">
                            <transition-group>
                                <li 
                                    class="el-upload-list__item reorder"
                                    :key="slide._id"
                                    v-for="(slide, index) in $store.state.slides.all">
                                    <img
                                        class="el-upload-list__item-thumbnail" 
                                        :src="$store.state.baseURL + slide.cover"/>
                                    <span class="el-upload-list__item-name">
                                        <span style="float: right">
                                            <el-button
                                                size="mini"
                                                @click="$store.commit('slides/EDIT', index)">
                                                <icon :icon="['far', 'edit']"/> Edit
                                            </el-button>
                                            <el-button
                                                type="danger"
                                                size="mini"
                                                @click="$store.dispatch('slides/remove', slide._id)"
                                                plain>
                                                <icon :icon="['far', 'trash-alt']"/> Remove
                                            </el-button>
                                            <el-button 
                                                type="default"
                                                class="reorder"
                                                size="mini">
                                                <icon icon="bars"/>
                                            </el-button>
                                        </span>
                                    </span>
                                </li>
                            </transition-group>
                        </draggable>
                    </ul>
                </el-card>
            </el-col>
        </el-row>
        <slide/>
    </div>
</template>

<script>
    import Draggable from 'vuedraggable'
    import Slide from './Slide'

    export default {
        components: {
            Draggable,
            Slide
        },
        computed: {
            slidesList: {
                get () {
                    return this.$store.state.slides.all
                },
                set (orderedList) {
                    this.$store.dispatch('slides/reorder', orderedList)
                }
            }
        },
        data () {
            return {
                page: 'movies'
            }
        },
        watch: {
            'page': 'getSlides'
        },
        mounted () {
            this.getSlides()
        },
        methods: {
            getSlides: function () {
                this.$store.dispatch('slides/all', { page: this.page })
            }
        }
    }
</script>
