<template>
    <el-dialog :visible.sync="$store.state.slides.dialogs.slide">
        <el-radio-group v-model="locale">
            <el-radio-button label="en"/>
            <el-radio-button label="ru"/>
            <el-radio-button label="hy"/>
        </el-radio-group>
        <el-form label-position="top">
                <el-form-item label="Title">
                    <el-input  
                        v-model="slide.title[locale]" 
                        placeholder="Title"/>
                </el-form-item>
                <el-form-item label="Content">
                    <el-input  
                        type="textarea"
                        :rows="3"
                        v-model="slide.content[locale]" 
                        placeholder="Content"/>
                </el-form-item>
                <!-- <el-form-item label="page">
                    <el-select v-model="slide.page" placeholder="Page">
                      <el-option value="home"/>
                      <el-option value="movies"/>
                      <el-option value="arevprojects"/>
                      <el-option value="trailers"/>
                      <el-option value="special-projects"/>
                      <el-option value="music"/>
                    </el-select>
                </el-form-item> -->
                <el-form-item label="Action">
                    <el-input
                        v-model="slide.action"
                        placeholder="Action">
                        <template slot="prepend">
                            <icon icon="link"/>
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item label="Cover">
                    <input 
                        type="file" 
                        @change="$store.commit('slides/SET_COVER', $event.target.files[0])"/><br>
                    <img 
                        v-if="slide.cover"
                        width="200"
                        :src="createImage(slide.cover)">
                </el-form-item>
            </el-form>
            <el-row
                type="flex"
                justify="end">
                <el-button 
                    type="primary"
                    v-if="slide._id"
                    @click="$store.dispatch('slides/submit', true)">
                    Save
                </el-button>
                <el-button 
                    type="primary"
                    v-else
                    @click="$store.dispatch('slides/submit', null)">
                    Add
                </el-button>
            </el-row>
    </el-dialog>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState('slides', ['slide'])
        },
        data () {
            return {
                locale: 'en'
            }
        },
        methods: {
            createImage (image) {
                if (typeof image === 'string') return this.$store.state.baseURL + image
                return URL.createObjectURL(image)
            }
        }
    }
</script>