<template>
    <div>
        <el-card>
            <div slot="header">
                <el-row
                    type="flex"
                    justify="space-between"
                    align="middle">
                    Users

                    <el-button
                        type="primary"
                        plain
                        @click="$store.commit('users/SHOW_USER_DIALOG')">
                        Create
                    </el-button>
                </el-row>
            </div>
            <el-table :data="$store.state.users.all">
              <el-table-column prop="email" label="Email"/>
              <el-table-column prop="name" label="Name"/>
              <el-table-column label="Actions">
                  <template slot-scope="scope">
                    <el-button
                        size="mini"
                        @click="$store.commit('users/EDIT', scope.row)">
                        <icon :icon="['far', 'edit']"/> Edit
                    </el-button>
                    <el-button
                        type="danger"
                        size="mini"
                        @click="$store.dispatch('users/remove', scope.row._id)"
                        plain>
                        <icon :icon="['far', 'trash-alt']"/> Remove
                    </el-button>
                  </template>
              </el-table-column>
            </el-table>
        </el-card>

        <user/>
    </div>
</template>

<script>
    import User from './User'

    export default {
        components: {
            User
        },
        mounted () {
            this.$store.dispatch('users/all')
        }
    }
</script>