<template>
    <el-dialog :visible.sync="$store.state.users.dialogs.user">
        <el-form label-position="top">
            <el-form-item label="Name">
                <el-input 
                    v-model="user.name" 
                    placeholder="Name"/>
            </el-form-item>
            <el-form-item label="Email">
                <el-input 
                    v-model="user.email" 
                    placeholder="Email"/>
            </el-form-item>
            <div v-if="user._id">
                <el-form-item label="New Password">
                    <el-input 
                        v-model="user.newPassword" 
                        type="password"
                        placeholder="New Password"/>
                </el-form-item>
            </div>
            <div v-else>
                <el-form-item label="Password">
                    <el-input 
                        v-model="user.password" 
                        type="password"
                        placeholder="Password"/>
                </el-form-item>
                <el-form-item label="Password Confirmation">
                    <el-input 
                        v-model="user.passwordConfirmation" 
                        type="password"
                        placeholder="Password Confirmation"/>
                </el-form-item>
            </div>
            <el-form-item>
                <el-checkbox v-model="user.admin">
                    Admin
                </el-checkbox>
            </el-form-item>
        </el-form>
        <el-row
            type="flex"
            justify="end">
            <el-button 
                type="primary"
                v-if="user._id"
                @click="$store.dispatch('users/submit', true)">
                Save
            </el-button>
            <el-button 
                type="primary"
                v-else
                @click="$store.dispatch('users/submit', null)">
                Add
            </el-button>
        </el-row>
    </el-dialog>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState('users', [
                'user'
            ])
        }
    }
</script>