<template>
    <el-dialog width="60%" :visible.sync="$store.state.videos.editDialog">
        <el-form label-position="top">
            <el-radio-group v-model="locale">
                <el-radio-button label="en"/>
                <el-radio-button label="ru"/>
                <el-radio-button label="hy"/>
            </el-radio-group>

            <el-form-item label="Slug" v-if="video.slug">
                <el-input v-model="video.slug[locale]" placeholder="Slug"/>
            </el-form-item>
            <el-form-item label="Meta Description" v-if="video.metaDescription">
                <el-input v-model="video.metaDescription[locale]" placeholder="Meta Description"/>
            </el-form-item>
            <el-form-item label="Meta Keywords" v-if="video.metaKeywords">
                <el-input v-model="video.metaKeywords[locale]" placeholder="Meta Keywords"/>
            </el-form-item>
            <el-form-item label="Title">
                <el-input v-model="video.title[locale]" placeholder="Title"/>
            </el-form-item>
            <el-form-item label="URI">
                <el-input v-model="video.url" placeholder="URI"/>
            </el-form-item>
            <el-form-item label="Summary">
                <tinymce
                    v-model="video.summary[locale]"
                    :other_options="{ extended_valid_elements: 'script[language|type|src]' }"
                    :id="`video-summary-${locale}`">
                </tinymce>
            </el-form-item>
            <el-form-item label="Type">
                <el-select 
                    v-model="video.type"
                    placeholder="Select type">
                    <el-option
                        label="Trailer"
                        value="trailer"/>
                    <el-option
                        label="Episode"
                        value="episode"/>
                </el-select>
            </el-form-item>
            <el-form-item 
                label="Premium" 
                v-if="video.type === 'episode'">
                <el-switch
                    v-model="video.premium"
                    active-text="Premium"
                    inactive-text="Free">
                </el-switch>
            </el-form-item>
            <el-form-item label="Cover">
                <input 
                    type="file" 
                    @change="$store.commit('videos/SET_VIDEO', { key: 'cover', value: $event.target.files[0] })"/><br>
                <img 
                    v-if="video.image"
                    width="200"
                    :src="createImage()">
            </el-form-item>

            <el-row 
                type="flex"
                style="margin-top: 20px"
                justify="end">
                <el-button
                    v-if="video._id"
                    @click="$store.dispatch('videos/submit', { update: true })"
                    type="primary">Save</el-button>
                <el-button
                    v-else
                    @click="$store.dispatch('videos/submit', { update: null })"
                    type="primary">Add</el-button>
            </el-row>
        </el-form>
    </el-dialog>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data () {
            return {
                locale: 'en',
                resolution: 760
            }
        },
        computed: {
            ...mapState([
                'baseURL'
            ]),
            ...mapState('videos', [
                'video'
            ])
        },
        methods: {
            createImage (image) {
                if (typeof image === 'string') {
                    return this.baseURL + image
                }

                return URL.createObjectURL(image)
            }
        }
    }
</script>