<template>
    <div>
        <el-card>
            <el-row type="flex" justify="space-between" align="middle" style="margin-top: 20px">
                <el-radio-group v-model="$store.state.videos.type">
                    <el-radio-button label="trailer"/>
                    <el-radio-button label="episode"/>
                </el-radio-group>

                <el-button 
                    type="primary" 
                    @click="$store.commit('videos/ADD')"
                    style="margin-left:10px"
                    plain>
                    + New
                </el-button>
            </el-row>

            <el-table :data="all">
                <el-table-column label="Cover" :width="300">
                    <template slot-scope="scope">
                        <img 
                            :src="$store.state.baseURL + scope.row.cover"
                            height="50"/>
                    </template>
                </el-table-column>
                <el-table-column label="Title">
                    <template slot-scope="scope">
                        {{ scope.row.title.en }}
                    </template>
                </el-table-column>
                <el-table-column label="Actions" :width="200">
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            @click="$store.commit('videos/EDIT', scope.row)"
                            plain>
                            Edit
                        </el-button>
                        <el-button
                            type="danger"
                            size="mini"
                            @click="$store.dispatch('videos/remove', scope.row)"
                            plain>
                            Remove
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>

        <single-video/>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import SingleVideo from './Video'

    export default {
        components: {
            SingleVideo
        },
        watch: {
            'type': 'getVideos'
        },
        computed: {
            ...mapState('videos', [
                'all',
                'video',
                'type'
            ])
        },
        mounted () {
            this.getVideos()
        },
        methods: {
            getVideos: function () {
                this.$store.dispatch('videos/get')
            }
        }
    }
</script>